.validate-message {
    margin: 10px;
    display: none;
    color: #d20000;
}
.custom-datatable .datatable-header {
    display: none;
    overflow-x: auto;
}
#page_content {
    min-height: 790px;
}