
$blush-1: #de5d83 !default;
$blush-2: #e25985 !default;

.theme-blush{


    ::selection {
        color: $white; 
        background: $blush-1;
    }
    .loader{
        color: $blush-1;
    }
    .btn-primary{
        background: $blush-1;
        color: $white;
        border-color: $blush-1;
    }
    .header{
        background: $blush-1;
        .nav-tabs{
            .nav-link{
                color: $white;
                &.active{
                    border-color: $white; 
                }
            }            
        }
        .dropdown-menu .dropdown-item:hover,
        .dropdown-menu .dropdown-item.active{
            color: $blush-1;
        }
    }
    .card{
        .card-options{
            a{
                color: $blush-1;
                &.btn{
                    color: $white;
                }
            }
        }
    }
    .custom-switch-input:checked ~ .custom-switch-indicator{
        background: $blush-1;
    }
    .chat_app .chat_windows .my-message .message p{
        background: $blush-1;
        color: $white;
    }
}